<div class="modal fade" id="new-volunteer-modal" tabindex="-1" aria-labelledby="new-volunteer-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="new-volunteer-modal-label">Add Another Volunteer?</h5>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" asp-action="Create" title="Save current Volunteer and Add another">Add</a>
                <a class="btn btn-primary" asp-action="Index" title="Save record and return to volunteers list">No</a>
            </div>
        </div>
    </div>
</div>