@model TVAttendance.ViewModels.AttendanceVM

@{
    ViewData["Title"] = "Attendance Edit";
}

<h1>Edit</h1>

<h4>Attendance</h4>
<hr />
<div class="row">
    <p class="required">Red asterisk indicates required field</p>
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Singers" />
            <input type="hidden" asp-for="Session" />
            <div class="form-group">
                <label asp-for="Session" class="control-label required"></label>
                <input asp-for="Session.Chapter.City" class="form-control" />
                <span asp-validation-for="Session.Chapter.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Session.Notes" class="control-label required"></label>
                <input asp-for="Session.Notes" class="form-control" />
                <span asp-validation-for="Session.Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Singers" class="control-label"></label>
                <ul class="list-group">
                    @if(Model.Singers.Any()){
                        foreach(var singer in Model.Singers){
                            <li class="list-group-item">
                                @singer.Summary
                            </li>
                        }
                    }
                    else{
                        <li class="list-group-item">
                            No Singers Attended this session.
                        </li>
                    }
                </ul>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
