<div class="modal fade" id="new-shift-modal" tabindex="-1" aria-labelledby="new-shift-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="new-shift-modal-label">Add Another Shift?</h5>
            </div>
            <div class="modal-body">
                Would you like to add another Shift or go back to the Event?
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" asp-controller="EventShift" asp-action="Create">Add</a>
                <a class="btn btn-primary" asp-controller="EventShift" asp-route-EventID="@Model.EventID" asp-action="Index">Back to Event</a>
            </div>
        </div>
    </div>
</div>