@model TVAttendance.Models.Session

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Session</h4>
<hr />
<form asp-action="Edit" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row">
        <div class="col-md-6">
            <input type="hidden" asp-for="ID" />

            <div class="form-group">
                <label asp-for="Date" class="control-label"></label><strong class="text-danger"> *</strong>
                <input asp-for="Date" type="date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChapterID" class="control-label"></label><strong class="text-danger"> *</strong>
                <select asp-for="ChapterID" class="form-control" asp-items="ViewBag.ChapterID"></select>
                <span asp-validation-for="ChapterID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Chapter.DirectorID" class="control-label"></label><strong class="text-danger"> *</strong>
                <select asp-for="Chapter.DirectorID" class="form-control" asp-items="ViewBag.DirectorID"></select>
                <span asp-validation-for="Chapter.DirectorID" class="text-danger"></span>

            </div>
        </div>

        <div class="col-md-8">
            <div class="form-group mb-3">
                <label asp-for="Notes" class="control-label"></label>
                <textarea asp-for="Notes" rows="2" class="form-control"></textarea>
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label class="control-label"> Add Attendees</label>
                    <button type="button" id="btnRight" class="btn btn-success btn-sm">
                        <strong>+</strong>
                    </button>
                    @Html.ListBox("available", (MultiSelectList)ViewBag.availOpts, new { @size = 10, @class = "form-control" })
                </div>

                <div class="form-group col-md-6">
                    <label class="control-label"> Singers Attended</label>
                    <button type="button" id="btnLeft" class="btn btn-danger btn-sm">
                        <strong>-</strong>
                    </button>
                    @Html.ListBox("selectedOpts", (MultiSelectList)ViewBag.selOpts, new { @size = 10, @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <input id="btnSubmit" type="submit" value="Save" class="btn btn-primary mb-2" />
            </div>

            <div class="form-group">
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>

</form>


<script src="~/js/multiselect.js"></script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
