<div class="modal fade" id="new-singer-modal" tabindex="-1" aria-labelledby="new-singer-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="new-singer-modal-label">Add Another Singer?</h5>
            </div>
            <div class="modal-body">
                Would you like to add another Singer or go back to singer list?
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" asp-action="Create" title="Save current Singer and Add another">Add</a>
                <a class="btn btn-primary" asp-action="Index" title="Save record and return to singers list">Back to singer list</a>
            </div>
        </div>
    </div>
</div>