<div class="modal fade" id="new-singer-modal" tabindex="-1" aria-labelledby="new-singer-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="new-singer-modal-label">Add Another Singer?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" title="Exit window"></button>
            </div>
            <div class="modal-body">
                Would you like to save and add another Singer?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" title="Cancel operation">Cancel</button>
                <input name="singerCreateAdd" type="submit" class="btn btn-primary" value="Save & Add" title="Save current Singer and Add another" />
                <input name="singerCreateAdd" type="submit" class="btn btn-primary" value="Save & Return" title="" />
            </div>
        </div>
    </div>
</div>