@model TVAttendance.Models.Shift

<div class="modal fade" id="vol-shift-cancel-modal" tabindex="-1" aria-labelledby="vol-shift-cancel-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="vol-shift-cancel-modal-label">Unable to Attend?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you unable to attend the shift?

                    <input type="text" />
            </div>
            <div class="modal-footer">
                <button value="Cancel" type="submit" class="btn btn-danger" title="Cancel current shift">Cancel</button>
            </div>
        </div>
    </div>
</div>