<div class="modal fade" id="new-event-modal" tabindex="-1" aria-labelledby="new-event-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="new-event-modal-label">Add Another Event?</h5>
            </div>
            <div class="modal-body">
                Would you like to add another Event or go back to the event list?
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" asp-action="Create" title="Save current Event and Add another">Add</a>
                <a class="btn btn-primary" asp-action="Index" title="Save record and return to events list">Back to Events</a>
            </div>
        </div>
    </div>
</div>
