@model TVAttendance.Models.Event

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="EventName" class="control-label required"></label>
                <input asp-for="EventName" class="form-control" />
                <span asp-validation-for="EventName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventStreet" class="control-label required"></label>
                <input asp-for="EventStreet" class="form-control" />
                <span asp-validation-for="EventStreet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventCity" class="control-label required"></label>
                <input asp-for="EventCity" class="form-control" />
                <span asp-validation-for="EventCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventPostalCode" class="control-label required"></label>
                <input asp-for="EventPostalCode" class="form-control" />
                <span asp-validation-for="EventPostalCode" class="text-danger"></span>
            </div>
            <div class="form-group" title="Select a province from the list">
                <label asp-for="EventProvince" class="control-label required"></label>
                <select asp-for="EventProvince" class="list-scroll form-control" asp-items="@Html.GetEnumSelectList<Province>()">
                    <option value="">Select a Province</option>
                </select>
                <span asp-validation-for="EventProvince" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventStart" class="control-label required"></label>
                <input asp-for="EventStart" class="form-control" />
                <span asp-validation-for="EventStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventEnd" class="control-label required"></label>
                <input asp-for="EventEnd" class="form-control" />
                <span asp-validation-for="EventEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
      <a asp-action="Index" class="btn btn-outline-primary" title="Return back to events list">Back to Events</a>
</div>

