.calendar-grid{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.calendar-cell {
    text-align: center;
    border: solid;
    border-color: black;
}
.calendar-dow {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}
.calendar-cell-empty{
    text-align: center;
    border: solid;
    color: darkgray;
    border-color: black;
}