html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem rgb(184, 112, 255);
}

html {
  position: relative;
  min-height: 100%;
}

.footer div{
    margin: 0.5em 0 0.5em 2em;
}

.container{
    margin-bottom: 5em;
}

/*Table*/
.sort-arrow {
    background-image: url(/images/sort-arrows-icon.png);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center right;
}

table {
    margin-top: 1em;
    text-align: left;
}

thead tr th input {
    background-color: white;
    border: none;
    padding: 0 1.5em 0 0;
    margin: 0;
    outline: none;
}

.sort-arrow:hover, .sort-arrow:focus {
    text-decoration: underline;
}

tbody tr:hover {
    background-color: rgb(245, 235, 255);
}

/*button*/
.btn {
    margin: 0;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.btn-link{
    text-decoration: none;
}

.btn-filter{
    background-color: white;
    padding-right: 1rem;
    border: none;
    
}

.form-group{
    margin-bottom: 1rem;
}

.nav-item {
    color: rgb(255,255,255);
}

.required::after {
    content: " *";
    font-weight: bold;
    color: red;
}

textarea {
    background-color:white;
    resize: none;
    width:100%;
    min-height: 10em;
    max-height: 10em;
}

select .list-scroll{
    max-height: 4em;
    overflow-y:scroll;
}