html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html .btn:focus, html .btn-outline-primary:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem rgb(200, 130, 255);
}

.btn{
    min-width:4em;
    min-height:2.5em;
}

html {
  position: relative;
  min-height: 100%;
}

.footer div{
    margin: 0.5em 0 0.5em 2em;
}

.container{
    margin-bottom: 5em;
}



/*Table*/
.sort-arrow {
    background-image: url(/images/sort-arrows-icon.png);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center right;
}

table {
    margin-top: 1em;
    text-align: left;
}

thead tr th input {
    background-color: white;
    border: none;
    padding: 0 1.5em 0 0;
    margin: 0;
    outline: none;
}

.sort-arrow:hover, .sort-arrow:focus {
    text-decoration: underline;
}

tbody tr:hover {
    background-color: rgb(245, 235, 255);
}

/*button*/
.btn {
    margin: 0;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.btn-link{
    text-decoration: none;
}

.btn-filter{
    background-color: white;
    padding-right: 1rem;
    border: none;
    
}

.form-group{
    margin-bottom: 1rem;
}

/*navbar items*/
.navbar {
    background-color: rgb(50, 0, 89);
}

.nav-item .nav-link{
    border-radius: 0.5em;
    color: rgb(255,255,255);
}

.nav-item .nav-link:hover, .nav-item .nav-link:focus{
    background-color: rgb(28, 0, 31);
}

.dropdown-menu a:hover, .dropdown-menu a:focus {
    font-weight: 600;
    background-color: rgb(245, 235, 255);
}


/*form buttons*/
html .btn-primary {
    border-color: rgb(50, 0, 89);
    background-color: rgb(50, 0, 89);
}

html .btn-primary:focus, html .btn-primary:hover {
    background-color: rgb(130, 80, 150);
    border-color: rgb(130, 80, 150);
}

html .btn-outline-primary, html .btn-outline-primary:hover, html .btn-outline-primary:hover:focus{
    border-color: rgb(28, 0, 31);
}

html .btn-outline-primary, html .btn-outline-primary {
    color: rgb(28, 0, 31);
}

html .btn-outline-primary:hover, html .btn-outline-primary:hover:focus{
    background-color: rgb(28, 0, 31);
}


/*Paging and Nav*/
.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
    opacity: 100;
}

.navbar button {
    color: rgb(255,255,255);
}

.page-item.active .page-link {
    background-color: rgb(50, 0, 89) !important;
}

html .page-link, html .page-link:hover, html .page-link:focus {
    color: rgb(28, 0, 31);
}

/*required asterisk*/
.required::after {
    content: " *";
    font-weight: bold;
    color: red;
}

textarea {
    background-color:white;
    resize: none;
    width:100%;
    min-height: 10em;
    max-height: 10em;
}

select .list-scroll{
    max-height: 4em;
    overflow-y:scroll;
}