@model IEnumerable<TVAttendance.ViewModels.CalanderVM>

<head>
    <link rel="stylesheet" href="~/css/calander.css" asp-append-version="true" />

</head>
<div class="calander-grid">
    @foreach (var day in Model)
    {
        //Create div
        <div class="calander-cell">
            <h2>@day.Date.Day</h2>
            <div class="calander-event">
                @if (day.EventLst.Any())
                {
                    @foreach (var e in day.EventLst)
                    {
                        @if (e.VolunteerLst.Any())
                        {
                            string firstVol = e.VolunteerLst.FirstOrDefault().Name;

                            string volList = "";
                            var v = e.VolunteerLst.ToList();

                            for (int i = 1; i < e.VolunteerLst.Count; i++)
                            { //Skip the first volunteer and grab their name from ViewModel
                                volList += v[i].Name + " <br/>";
                            }

                            <!--Drop down list button-->
                            <a class="" role="button" data-bs-toggle="collapse" href="#collapseVolunteer@(e.ID)"
                               aria-expanded="false" aria-controls="collapseVolunteer@(e.ID)">
                                @firstVol <span class="badge bg-info">@e.VolunteerLst.Count</span>
                            </a>
                            <!--List of volunteers-->
                            <div class="collapse" id="collapseVolunteer@(e.ID)">
                                @Html.Raw(volList)
                            </div>
                        }
                    }

                }
                else
                {
                    <p class="calander-empty"></p>
                    <!-- Leave empty-->
                }
            </div>
        </div>
    }
</div>