@{
    ViewData["Title"] = "Home Page";
}

<!--
<div class="text-center">
    <h1 class="display-4">Tomorrow's Voices</h1>
    <img src="~/images/TV-Logo.png" alt="Logo" style="background-color: black" />
</div>
-->
