<div class="modal fade" id="new-modal" tabindex="-1" aria-labelledby="new-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="new-modal-label">Add Another Chapter?</h5>
            </div>
            <div class="modal-body">
                Would you like to add another Chapter or go back to the chapter list?
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" asp-action="Create" title="Save current Chapter and Add another">Add</a>
                <a class="btn btn-primary" asp-action="Index" title="Save record and return to chapters list">Back to Chapters</a>
            </div>
        </div>
    </div>
</div>